h1{
    padding: 10px 0 10px 0;
    font-size: 28px;
}
p{
    line-height: 120%;
}
#nosotros{
    min-height: 400px;
    @include MQ(SM){
        text-align: center;
        min-height: 0;
    }
    .container{
        min-height: 400px;
        display: table;
        @include MQ(S){
            min-height: 0;
            margin: 35px 0 35px 0;
        }
    }
    .nosotros{
        display: table-cell;
        vertical-align: middle;
    }
    .glyphicon{
        color: $color-1;
    }
}
#hacemos{
    background: $color-1;
    min-height: 200px;
    margin-bottom: 25px;
    display: block;
    padding: 20px;
    @include MQ(SM){
        text-align: center;
    }
    .container{
        display: table;
        min-height: 200px;
        color: $color-2;
    }
    .hacemos{
        display: table-cell;
        vertical-align: middle;
    }
}
section{
    .lista{
        display: block;
        margin: 50px 0 50px 0;
        text-align: center;
        li{
            display: block;
            padding: 10px;
            margin-bottom: 15px;
            cursor: pointer;
        }
        img{
            margin-bottom: 10px;
        }
    }
}
.popover{
    padding: 0;
    .popover-content{
        margin: 5px;
        padding: 0;
    }
    h4, hr{
        margin: 0 0 10px 0;
        padding: 0;
    }
    p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
#articulos{
    p{
        margin-bottom: 20px;
    }
    li:last-child{
        padding-top: 85px;
    }
    .insumos{
        text-align: center;
        padding: 20px;
        margin: 25px 0 25ps 0;
    }
}
hr{
    height: 2px;
    background-color:$color-1;
    border: 0 none;
}