doctype html
html(lang="es")
    head
        title Orbit c.a.
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="empresa líder en la distribución, comercialización y ventas al mayor de toda clase de equipos de oficina, máquinas y maquinarias, productos para las artes gráficas, herramientas eléctricas y equipos de seguridad")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        meta(name="keywords", content="equipos de oficina, máquinas, productos para las artes gráficas, herramientas eléctricas, equipos de seguridad, Metabo, olympic.")
        link(rel="shortcut icon" type="image/x-favicon" href="/img/favicon.ico")
        link(name="author" content="Estela Estudio de diseño, info@estelaestudio.com")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/style-dist.css")
    body
        header
            div.primary-bg
                h1 ¡Como solo Orbit lo puede ofrecer!
                nav.navbar.navbar-default#navbar-main
                    .container-fluid
                        .navbar-header
                            bt.navbar-toggle.colapsed(type="button" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false")
                                span.sr-only
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href="#")
                                img(src="img/logo.png" alt="")
                        .collapse.navbar-collapse#navbar-1
                            ul.nav.navbar-nav
                                li.active
                                    a(href="index.html") Home
                                li
                                    a(href="#nosotros") Nosotros
                                li
                                    a(href="#olympic") Productos
                                li
                                    a(href="#contacto") Contacto
        section#nosotros
            div.container
                div.nosotros
                    h1 En Orbit nos dedicamos a:
                    p la venta distribución y comercialización de productos de altísima calidad destinados al ramo ferretero construcción e industria.
                div
        section#hacemos
            div.container
                div.hacemos
                    h1 Tambien ofrecemos:
                    p accesorios para máquinas y maquinarias de oficina artes gráficas y herramientas ofreciendo adicionalmente un servicio técnico confiable.
        section#olympic.container
            img(src="img/logo-olympic.jpg" alt="Olympic").fl
            hr
            ul.row.list-unstyled.lista
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly")
                        img(src="img/ol-1.jpg" alt="")
                        p Taladro <br/> Percusión 3/8” + Box
                    #oly.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Mandril:</b></br>3/8”<br/><b>Cap. Max. en:</b><br/><ins>Acero:</ins></br>8 mm<br/><ins>Concreto:</ins></br>10 mm<br/><ins>Madera Blanda:</ins></br>15 mm<br/><b>Potencia:</b></br>450 watt<br/><b>Velocidad:</b>sin carga:<br/>0 ˜ 2.500 r.p.m<br/><b>Peso:</b></br>1,4 Kg.
                            li
                                h4 Carácteristicas
                                hr
                                p Velocidad variable y reversible <br/>Diseño ergonómico <br/>Mandril automatico <br/>Con o sin Maletin de accesorios.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-1")
                        img(src="img/ol-2.jpg" alt="")
                        p  Martillo Combinado <br/>(P04-RH24)
                    #oly-1.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Cap. Max. en:</b><br/><ins>Acero:</ins></br>13 mm<br/><ins>Concreto:</ins></br>24 mm<br/><ins>Madera:</ins></br>30 mm <br/><b>Potencia:</b></br>620 watt<br/><b>Velocidad: </br>sin carga:</b><br/> 0 ˜ 870 r.p.m <br/><b>Peso:</b></br>2,4 Kg.
                            li
                                h4 Carácteristicas
                                hr
                                p Sistema SDS plus</br>Con Maletin y accesorios incluidos:</br>2 Cinceles</br>3 Mechas (6 mm, 8 mm, 10 mm).
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-2")
                        img(src="img/ol-3.jpg" alt="")
                        p Taladro <br/> Percusión 3/8” + Box
                    #oly-2.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Mandril: 1/2”</b><br/><b>*Cap. Max. en:</b><br/><ins>Acero:</ins></br>10 mm<br/><ins>Concreto:</ins></br>12 mm<br/><ins>Madera Blanda:</ins></br>20 mm<br/><b>Potencia:</b></br>710 watt<br/><b>Velocidad: sin carga:</b><br/>0 ˜ 3000 r.p.m <br/><b>Peso:</b></br>2.2 Kg.
                            li
                                h4 Carácteristicas
                                hr
                                p Velocidad variable y reversible<br/>Diseño ergonómico
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-3")
                        img(src="img/ol-4.jpg" alt="")
                        p Recortadora De Formica <br/>( HW- ET006)
                    #oly-3.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Velocidad sin carga:</b></br>33.500 r.p.m </br><b>Potencia:</b></br>500 watt</br><b>Diametro de la broca:</b></br>1/4” ( 6,4 mm)</br><b>Peso:</b></br>1,7 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-4")
                        img(src="img/ol-5.jpg" alt="")
                        p Esmeril Angular 4 1/2” <br/>(P02-AG115E)
                    #oly-4.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Capacidad de disco:</b>4˜1/2” (115 mm)</br><b>Velocidad sin carga:</b><br/>11.000 r.p.m</br><b>Potencia:</b></br>860 watt</br><b>Rosca de eje:</b></br>M14</br><b>Peso:</b>1,9 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-5")
                        img(src="img/ol-6.jpg" alt="")
                        p Esmeril Angular 7” <br/>(P01-AG180A)
                    #oly-5.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Capacidad de disco:</b></br>7” (180 mm)</br><b>Velocidad sin carga:</b><br/>8.000 r.p.m</br><b>Potencia:</b></br>1.800 watt</br><b>Rosca de eje:</b></br>M14</br><b>Peso:</b></br> 5.2 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-6")
                        img(src="img/ol-7.jpg" alt="")
                        p Esmeril Angular 4 1/2” <br/>(HW-AG2123)
                    #oly-6.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p </b>Capacidad de disco:</b><br/>4˜1/2”(115 mm)</br><b>Velocidad sin carga:</b></br>11.000 r.p.m <br/><b>Potencia:</b></br>860 watt</br><b>Rosca de eje:</b></br>M14</br><b>Peso:</b></br>2 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-7")
                        img(src="img/ol-8.jpg" alt="")
                        p Trozadora 14” <br/>(P04-CM355A)
                    #oly-7.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Capacidad de disco:</b></br>14” (355 mm)<br/></b>Velocidad sin carga:</b></br>3.500 r.p.m<br/><b>*Potencia:</b>2.000 watt<br/><b>Peso:</b></br>5.2 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-8")
                        img(src="img/ol-9.jpg" alt="")
                        p Sierra Circular <br/>(MIY-185B)
                    #oly-8.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Diámetro del disco:</b></br>7”(185 mm)</br><b>Diámetro del eje:</b></br>16 mm (5.8”)</br><b>Max. Cap. Corte:</b></br>70 mm </br><b>Velocidad sin carga:</b></br>4.500r.p.m</br><b>Potencia:</b></br>1.350 watt</br><b>Peso:</b></br>4,5 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-9")
                        img(src="img/ol-10.jpg" alt="")
                        p Caladora Con Laser <br/>(P01-JS80)                            
                    #oly-9.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Cap. Max. en:</b></br><ins>Acero:</ins></br>10 mm</br><ins>Aluminio:</ins></br>18 mm</br><ins>Madera:</ins></br>80 mm</br><b>Potencia:</b></br>710 watt</br><b>Velocidad:</b></br>sin carga:</br></br>500 ˜ 3000 r.p.m</br><b>Peso:</b></br>2,3 Kg
                            li
                                h4 Carácteristicas
                                hr
                                p Guia con Laser
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-10")
                        img(src="img/ol-11.jpg" alt="")
                        p Pulidora De 7” <br/>(P04-PBO180)
                    #oly-10.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Capacidad de disco:</b></br> 7” (180 mm)</br><b>Velocidad sin carga:</b></br>600 - 3.000 r.p.m </br><b>Potencia:</b></br>1.200 watt</br><b>Rosca de eje:</b></br>M14</br><b>Peso:</b></br>3,8 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-11")
                        img(src="img/ol-12.jpg" alt="")
                        p Cepillo Electrico <br/>(P05-PB82X2C)
                    #oly-11.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Tamaño de la base:</b></br><ins>Ancho:</ins> 82 mm</br><ins>Longitud:</ins> 285 mm </br><b>Potencia:</b></br> 600 watt</br><b>Profundidad del cepillo:</b></br> 1 mm</br><b>Peso:</b></br> 3 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-12")
                        img(src="img/ol-13.jpg" alt="")
                        p  Lijadora Exentrica <br/>(P01-S125C)
                    #oly-12.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Tamaño de la base:</b></br>5” (125 mm)</br><b>Potencia:</b></br>400 watt</br><b>Velocidad:</br>sin carga:</b></br>12.000 o.p.m.</br><b>Peso:</b> </br>2,5 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-13")
                        img(src="img/ol-14.jpg" alt="")
                        p Lijadora De Banda 3x21 <br/>(P04-S533X75)
                    #oly-13.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Tamaño de la base:</b></br>3X21” (75X533 mm)</br><b>Potencia:</b></br>700 watt</br><b>Velocidad:</b></br>380 m/min</br><b>Peso:</b></br>3,4 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-14")
                        img(src="img/ol-15.jpg" alt="")
                        p Lijadora De Banda <br/>(HW-PS1125)
                    #oly-14.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Tamaño de la base:</b></br>4x24” (101x610 mm)</br><b>Potencia:</b></br>1.300 watt</br><b>Velocidad:</b></br>350 m/min</br><b>Peso:</b></br>7,3 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-15")
                        img(src="img/ol-16.jpg" alt="")
                        p Lijadora Orbital <br/>(P02-SA02)
                    #oly-15.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Tamaño de la base:</b></br>4 1/2x9” (115x227 mm)</br><b>Velocidad sin carga:</b></br>12.000 r.p.m.</br><b>Potencia:</b></br>250 watt</br><b>Peso: </b></br>2,4 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#oly-16")
                        img(src="img/ol-17.jpg" alt="")
                        p Martillo Demoledor <br/>(DH1003)
                    #oly-16.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Capacidad de disco:</b></br>7” (180 mm)</br><b>Velocidad sin carga:</b></br>600 - 3.000 r.p.m.</br><b>Potencia:</b></br>1.200 watt</br><b>Rosca de eje:</b></br>M14</br><b>Peso:</b></br>3,8 Kg.
        section#metabo.container
            img(src="img/logo-metabo.jpg" alt="metabo").fl
            hr
            ul.row.list-unstyled.lista
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt")
                        img(src="img/mt-1.jpg" alt="")
                        p Taladro 1/2” R+L BE 561
                    #mt.hide
                        ul.list-unstyled
                            li
                                h4 Capacidades
                                hr
                                p <b>Acero:</b></br>10 mm</br><b>Madera blanda:</b></br>20 mm</br><b>Potencia:</b></br>560 w</br><b>Par de giro:</b></br>5 Nm</br><b>Velocidad en vacio:</b></br>0-2.800 r.p.m.</br><b>Peso neto:</b></br>1,7Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-1")
                        img(src="img/mt-2.jpg" alt="")
                        p Esmeril De 4 1/2” W8-115
                    #mt-1.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Diámetro de disco:</b></br>115 mmm</br><b>Rosca de husillo:</b></br>5/8”</br><b>Potencia:</b></br>800 w</br><b>Par de giro:</b></br>2,2 Nm</br> <b>Velocidad en vacio:</b></br>10.000 r.p.m</br><b>Peso:</b></br>1,9 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-2")
                        img(src="img/mt-3.jpg" alt="")
                        p Esmeril De  7” W24-230
                    #mt-2.hide
                        ul.list-unstyled
                            li
                                h4 Características Generales
                                hr
                                p <b>Rosca de husillo:</b></br>5/8”</br><b>Potencia:</b></br>2.300 w</br><b>Peso neto:</b></br>4,9 Kg.
                                hr
                                p <b>Diámetro de disco:</b></br>230 mm</br><b>Par de giro:</b></br>17Nm </br><b>Velocidad en vacio:</b></br>6.600 r.p.m.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-3")
                        img(src="img/mt-4.jpg" alt="")
                        p Esmeril De  9” W24-180
                    #mt-3.hide
                        ul.list-unstyled
                            li
                                h4 Características Generales
                                hr
                                p <b>Rosca de husillo:</b></br>5/8”</br><b>Potencia:</b></br>2.300 w</br><b>Peso neto:</b></br>4,9 Kg.
                                hr
                                p <b>Diámetro de disco:</b></br>180 mm</br><b>Par de giro:</b></br>14Nm</br></b>Velocidad en vacio:</b></br>8.500 r.p.m.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-4")
                        img(src="img/mt-5.jpg" alt="")
                        p Cizalla Eléctrica KU 6870
                    #mt-4.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Espesor máximo de chapa:</b></br><ins>Acero</ins> 400 N/mm²: </br>2,5 mm </br><ins>Acero</ins> 800 N/mm²: </br>1,6 mm </br><ins>Aluminio</ins> 250 N/mm²: </br>2,5 mm </br><b>Potencia:</b></br>550 w </br><b>Par de giro:</b></br>6 Nm </br><b>N° Carreras en </br>marcha en vacio:</b></br> 3.000 / min <b>Peso neto:</b></br> 2,5 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-5")
                        img(src="img/mt-6.jpg" alt="")
                        p Tronzadora De Metal CS 23-355
                    #mt-5.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Diámetro de disco</b><br/>350 mm<br/><b>Potencia:</b></br>2.300 w</br><b>Velocidad al vacio:</b></br>4.000 r.p.m </br><b>Capacidad máx. </br>de corte en:</b></br><ins>Acero en barra:</ins></br> 65 mm </br><ins>Tubos:</ins></br>125 mm </br><ins>Perfiles de acero:</ins></br>115 x 130 mm </br><b>Peso neto:</b></br>16,9 Kg
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-6")
                        img(src="img/mt-7.jpg" alt="")
                        p Amoladora Recta G500
                    #mt-6.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Diámetro de la pinza:</b><br/>1/4” y 6 mm <br/><b>Potencia:</b><br/>500 w<br/><b>Velocidad en vacio:</b><br/>27.000 r.p.m <br/><b>Peso neto:</b><br/>1,4 Kg.
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#" data-toggle="popover" data-target="#mt-7")
                        img(src="img/mt-8.jpg" alt="")
                        p Amoladora Recta G700
                    #mt-7.hide
                        ul.list-unstyled
                            li
                                h4 Especificaciones
                                hr
                                p <b>Diámetro de la pinza:</b><br/>1/4” y 6 mm <br/><b>Potencia:</b> <br/>710 w <br/><b>Velocidad en vacio:</b> <br/>7.000 - 27.000 r.p.m <br/><b>Peso neto:</b> <br/>1,8 Kg
            hr
        section#articulos.container
            ul.row.list-unstyled.lista
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#")
                        img(src="img/ar-1.jpg" alt="")
                        p Reloges de tarjeta
                        img(src="img/logo-md.jpg" alt="")
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#")
                        img(src="img/ar-2.jpg" alt="")
                        p Relojes Digitales
                        img(src="img/logo-zk.jpg" alt="")
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#")
                        img(src="img/ar-3.jpg" alt="")
                        p Mechas para concreto
                        img(src="img/logo-he.jpg" alt="")
                li.col-xs-6.col-sm-4.col-md-3
                    a(href="#")
                        img(src="img/logo-ri.jpg" alt="")
                        p Insumos de copiado y Servicio Técnico
            hr
            ul.row.list-inline.insumos
                li
                    img(src="img/ag.jpg", alt="")
                li
                    h1 Insumos para Artes Gráficas:
                li
                    p Tintas - Mantillas -  Planchas -  Auxiliares
        footer#contacto
            .container
                h1 Contáctanos
                ul.row.list-unstyled
                    li.col-xs-12.col-sm-6
                        ul.list-group.list-unstyled
                            li.list-item
                                span.glyphicon.glyphicon-map-marker.fl
                                p Estamos ubicados en la calle 32, entre carrera 19 y avenida 20. Casa °19-47. Barquisimeto estado lara, Venezuela.
                            li.list-item
                                span.glyphicon.glyphicon-phone.fl
                                p 0251-2327204 0251-2326650 <br/>0251-2311931 0251-2328804 
                            li.list-item
                                span.glyphicon.glyphicon-envelope.fl
                                p orbica@gmail.com <br/>orbica01@hotmail.com
                    li.col-xs-12.col-sm-6
                        form#formulario.row(action="process.php" method="post" name="formContacto")
                            .form-group.col-xs-6
                                label(for="nombre")
                                input#nombre.required(type="text" name="nombre" placeholder="Nombre")
                            .form-group.col-xs-6
                                label(for="empresa")
                                input(type="text" name="empresa" placeholder="Empresa")
                            .form-group.col-xs-12
                                label#modif01(for="comentario")
                                textarea#modif02(name="comment" placeholder="Escribe tu comentario")
                            .but.btn.btn-default.botonAcceder#boton.fr(type="submit" value="Enviar") Enviar       
        script(src="js/jquery.min.js") 
        script(src="js/bootstrap.min.js")
        script(src="js/main-dist.js")