doctype html
html(lang="es")
    head
        title Document
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style-dist.css")
    body
        include ../../asets/jade/nav.jade
        section 
            h1 Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis neque at gravida. Duis sed libero facilisis, maximus massa laoreet, rutrum eros. Nam et pulvinar nibh. Integer interdum turpis at feugiat elementum. Curabitur eu mauris nec erat blandit semper. Aenean facilisis efficitur diam eu auctor. Cras rhoncus quam augue, vitae gravida lorem egestas sit amet. Donec ac tincidunt quam. Integer ac est justo.<br><br>Aenean ut gravida augue. Nullam at risus maximus, ornare mi et, varius metus. Praesent pulvinar aliquam nulla, id pharetra mi tristique ac. Ut tempor velit sit amet sem tincidunt pellentesque. Ut pharetra felis vitae quam pulvinar, quis ultricies arcu tempor. Sed aliquet purus a libero interdum aliquet a sollicitudin felis. Quisque mollis, mauris sit amet porttitor tincidunt, erat lacus dignissim mauris, eget aliquam metus enim a erat. Curabitur bibendum tellus ut quam bibendum suscipit. Nunc venenatis dapibus suscipit. Cras sit amet enim risus. Sed pulvinar volutpat tristique. Nullam id felis vehicula, malesuada justo nec, ultrices mauris. Aenean ultricies nec sem at cursus.
        section
            h1 Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis neque at gravida. Duis sed libero facilisis, maximus massa laoreet, rutrum eros. Nam et pulvinar nibh. Integer interdum turpis at feugiat elementum. Curabitur eu mauris nec erat blandit semper. Aenean facilisis efficitur diam eu auctor. Cras rhoncus quam augue, vitae gravida lorem egestas sit amet. Donec ac tincidunt quam. Integer ac est justo.<br><br>Aenean ut gravida augue. Nullam at risus maximus, ornare mi et, varius metus. Praesent pulvinar aliquam nulla, id pharetra mi tristique ac. Ut tempor velit sit amet sem tincidunt pellentesque. Ut pharetra felis vitae quam pulvinar, quis ultricies arcu tempor. Sed aliquet purus a libero interdum aliquet a sollicitudin felis. Quisque mollis, mauris sit amet porttitor tincidunt, erat lacus dignissim mauris, eget aliquam metus enim a erat. Curabitur bibendum tellus ut quam bibendum suscipit. Nunc venenatis dapibus suscipit. Cras sit amet enim risus. Sed pulvinar volutpat tristique. Nullam id felis vehicula, malesuada justo nec, ultrices mauris. Aenean ultricies nec sem at cursus.
        section
            h1 Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis neque at gravida. Duis sed libero facilisis, maximus massa laoreet, rutrum eros. Nam et pulvinar nibh. Integer interdum turpis at feugiat elementum. Curabitur eu mauris nec erat blandit semper. Aenean facilisis efficitur diam eu auctor. Cras rhoncus quam augue, vitae gravida lorem egestas sit amet. Donec ac tincidunt quam. Integer ac est justo.<br><br>Aenean ut gravida augue. Nullam at risus maximus, ornare mi et, varius metus. Praesent pulvinar aliquam nulla, id pharetra mi tristique ac. Ut tempor velit sit amet sem tincidunt pellentesque. Ut pharetra felis vitae quam pulvinar, quis ultricies arcu tempor. Sed aliquet purus a libero interdum aliquet a sollicitudin felis. Quisque mollis, mauris sit amet porttitor tincidunt, erat lacus dignissim mauris, eget aliquam metus enim a erat. Curabitur bibendum tellus ut quam bibendum suscipit. Nunc venenatis dapibus suscipit. Cras sit amet enim risus. Sed pulvinar volutpat tristique. Nullam id felis vehicula, malesuada justo nec, ultrices mauris. Aenean ultricies nec sem at cursus.
        script(src="js/jquery.min.js") 
        script(src="js/bootstrap.min.js")