doctype html
html(lang="es")
    head
        title Orbit c.a.
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="empresa líder en la distribución, comercialización y ventas al mayor de toda clase de equipos de oficina, máquinas y maquinarias, productos para las artes gráficas, herramientas eléctricas y equipos de seguridad")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        meta(name="keywords", content="equipos de oficina, máquinas, productos para las artes gráficas, herramientas eléctricas, equipos de seguridad, Metabo, olympic.")
        link(rel="shortcut icon" type="image/x-favicon" href="/image/favicon.ico")
        link(name="author" content="Estela Estudio de diseño, info@estelaestudio.com")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/style-dist.css")
        link(rel="stylesheet" href="css/bg.css")
    body
        section.big-background
            a#bgndVideo.player(data-property="{videoURL:'https://www.youtube.com/watch?v=RmE97etQdPk&feature=youtu.be',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}")
            div.pattern
                div.big-background-container
                    h1.big-backgraund-title FLIX-FLIX
                    div.divider
                    h1#colorize VIDEO BACKGROUND
                    a.big-background-btn href="http://designmodo.com/video-background-website/"
        script(src="js/jquery.min.js")
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/device.min.js")
        script(src="js/jquery.mb.YTPlayer.js")
        script(src="js/custom.js")