doctype html
html lang="es"
    head
        title Orvit c.a
        meta charset="utf-8"
        meta http-equiv="X-UA-Compatible" content="IE=edge"
        meta http-equiv="Content-type" content="text/html;charset=UTF-8"
        meta name="description" content=""
        meta name="keywords" content=""
        meta name="author" content="Estela Estudio de diseño, info@estelaestudio.com"
        meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
        meta name="google-site-verification" content=""
        link rel="shortcut icon" type="image/x-favicon" href="/images/favicon.ico"
        <!--CSS-->
        link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"
        link href="css/style.css" rel="stylesheet" type="text/css" media="all"
        link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css"
        link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'
    body
        div.container
            div.row
                div.col-xs-6
                    input onclick='show_alert()' type='button' value='Show alert box'
                    h1 Hola mundo!
    <!--script-->
    script src="js/jquery-1.12.0.min.js"
    script src="js/bootstrap.min.js"
    script src="js/main.js"
    javascript:
        $(document).ready(function() {
           alert("jQuery esta funcionando !!");
         });